@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-family: 'Cinzel','Montserrat', Calibri, Arial;
}


.custom-navbar-button {
  background-color: #DAAD44;
}

.custom-text-color {
  color: #DAAD44;
}

.navbar-font {
  color:#000000;
}

.intro-font {
  font-size: 24px;
}

.background-image {
  height: 32rem;
}

.img-scale {
  transform: scale(.8);
}

.img-brighten {
  filter: brightness(1.4);
}

.alert-border {
  background-color: #DAAD44;
}

.testimonial-background {
  background-color: #74898c;
}